/*魅族声学*/
html,body{
    background-color: #f4f4f4;
}
.voice-logo {
    display: block;
    text-align: center;
    font-size: 28px;
    line-height: 65px;
    color: #515151;
}

.voice-banner {
    height: 450px;
    background: url(../images/MZ-voice-banner.jpg) center no-repeat;
    display: block;
    background-size: auto 100%;
}

#MZ-voice-wrapper {
    width: 100%;
}

.MZ-voice {
    min-height: 1946px;
}

.MZ-voice .voice-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.MZ-voice .voice-list li {
    width: 303px;
    height: 375px;
    margin-top: 10px;
    background-color: #fff;
}

.MZ-voice .voice-list li a {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

/*后缀m代表小图片属性*/
.MZ-voice .voice-list li .goods-img {
    width: 100%;
    height: 100%;

}

.MZ-voice .voice-list li .goods-img-m {
    width: 230px;
    height: 230px;
    display: inline-block;
    margin-top: 30px;
}

.MZ-voice .voice-list li .voice-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 267px;
    left: 0px;
}

.MZ-voice .voice-list li .voice-box .v-name {
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

.MZ-voice .voice-list li .voice-box .v-name-m {
    font-size: 16px;
    color: #333333;
}

.MZ-voice .voice-list li .voice-box .v-ps {
    font-size: 14px;
    color: white;
    margin: 5px 0 8px 0;
}

.MZ-voice .voice-list li .voice-box .v-ps-m {
    font-size: 14px;
    color: #999999;
    margin: 5px 0 8px 0;
}

.MZ-voice .voice-list li .voice-box .v-price {
    font-size: 22px;
    color: #ebce6b;
    font-weight: bold;
}

.MZ-voice .voice-list li .voice-box .v-price-m {
    font-size: 22px;
    color: red;
}

.MZ-voice .voice-list li .voice-box .v-prime-cost {
    margin-left: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: line-through;
}

.MZ-voice .voice-list li .voice-box .v-prime-cost-m {
    margin-left: 5px;
    font-size: 14px;
    color: #666666;
    text-decoration: line-through;
}