// 网站头部
#header {
    // 悬浮
    position: absolute;
    width: 100%;
    z-index: 9;
    .header_nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center; // 网站logo图
        #logo {
            // height: 31px;
            img {
                width: 125px;
            }
        } // 顶部导航
        #nav {
            // width: 926px;
            height: 31px;
            display: flex;
            justify-content: space-between; // 导航菜单
            .menu {
                display: flex;
                align-items: center; // 列表
                ul {
                    display: flex;
                    li {
                        a {
                            padding: 0 20px;
                            font-size: 14px;
                            color: white;
                        }
                        a:hover {
                            color: #1296db;
                        }
                    }
                } // hover显示快
                .show_box {
                    background-color: white; // height: ;
                }
            } // 用户操作
            .operation {
                display: flex; // 搜索框
                .search {
                    width: 170px;
                    background-color: white;
                    border-radius: 50px;
                    display: flex;
                    height: 31px;
                    border: 1px solid #ccc; // 输入框
                    input {
                        display: block;
                        width: 80%;
                        height: 31px;
                        border-radius: 50px;
                        border: none;
                        padding-left: 10px;
                        font-size: 14px;
                        color: #6a6a6a;
                    } // 设置placeholder样式
                    input::-webkit-input-placeholder {
                        color: #6a6a6a;
                        font-size: 12px;
                    } // 按钮
                    .fa {
                        background-color: white;
                        border: none;
                        border-radius: 25px;
                        cursor: pointer;
                        font-size: 14px;
                        color: #6a6a6a;
                    }
                } // 个人中心
                .personage {
                    margin: 0 14px 0 18px;
                    position: relative;
                    i {
                        color: white;
                        font-size: 24px;
                        line-height: 31px;
                        cursor: pointer;
                    } //显示盒子
                    .show_box {
                        display: none;
                        width: 98px;
                        background-color: white;
                        position: absolute;
                        left: -39px;
                        top: 39px; // 三角形
                        .triangle {
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: -6px;
                            background-color: white;
                            left: 41px;
                            transform: rotate(45deg);
                        } // 列表
                        ul {
                            padding: 15px 0;
                            z-index: 1;
                            li {
                                margin: 10px auto;
                                text-align: center;
                                a {
                                    font-size: 14px;
                                    color: #515151;
                                    display: block;
                                }
                            }
                        }
                    }
                } // hover显示
                .personage:hover {
                    .show_box {
                        display: block;
                    }
                } // 购物车
                .shop_car {
                    color: white;
                    font-size: 24px;
                    line-height: 31px;
                    cursor: pointer;
                    position: relative;
                    em {
                        font-size: 12px;
                        background-color: #cc0000;
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 15px;
                        position: absolute;
                        top: 0;
                        right: -9px;
                    }
                }
            }
        }
    } // hover显示的区域
    .header_hover {
        height: 198px; // display: none;
        opacity: 0; // background-color: white;
        display: none;
        .type_area {
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;
            a {
                width: 142px; // padding: 20px 0;
                // height: 140px;
                display: block;
                img {
                    display: block;
                    width: 120px;
                    margin: auto;
                }
                p {
                    text-align: center;
                    color: #353535;
                    font-size: 14px;
                }
            }
        }
    }
}


// 网站底部
#footer{
    margin-top: 50px;
    height: 246px;
    background-color: white;
    overflow: hidden;
    .footer_top{
        display: flex;
        height: 143px;
        align-items: center;
        border-bottom: 1px solid #eee;
        .serve_list{
            width: 894px;
            display: flex;
            a{
                display: block;
                width: 150px;
                height: 69px;
                text-align: center;
                img{
                    display: block;
                    width: 50px;
                    height: 39px;
                    margin: auto;
                }
                span{
                    line-height: 30px;
                    color: #999;
                    font-size: 12px;
                }
            }
        }
        .kefu{
            flex: 1;
            text-align: right;
            .work_time{
                color: #999;
                font-size: 12px;
                line-height: 30px;
            }
            .tel{
                color: #00c3f5;
                font-size: 25px;
                font-weight: 400;
                margin-top: -6px;
                line-height: 40px;
            }
            a{
                width: 88px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                color: #fff;
                border-radius: 20px;
                margin-top: 3px;
                font-size: 14px;
                background: #0bbbef;
                display: inline-block;
            }
        }
    }
    // 版权
    .copyright{
        height: 104px;
        // display: flex;
        // align-items: center;
        box-sizing: border-box;
        .footer_nav{
            margin-top: 30px;
            a{
                padding-right: 15px;
                border-right: 1px solid #d6d6d6;
                height: 18px;
                margin-right: 15px;
                color: #999999;
                font-size: 12px;
            }
            .border_none{
                border: none;
                img{
                    position: relative;
                    top: 4px;
                }
            }
        }
        .copyright_text{
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            font-size: 12px;
            color: #999;
            .share{
                display: flex;
                a{
                    display: block;
                    width: 21px;
                    height: 28px;
                    img{
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}